.App {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* height: 100vh; */
  
}

.title {
 
  /* width:50%; */
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.titleBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  width: 50%;
  /* height: 100%; */
}
.main Button {
  margin: 10px;
}

.nav Button {
  margin: 10px;
}

.blog a {
  margin: 10px;
}

.nav {
  height: 5vh;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
