* {
  box-sizing: border-box;
  margin: 0;
}
body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.mainApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}


.posts{
  width:50vw;
}

.userDataPostDisplay{
display:flex;
}
.smallText{
  font-size:10pt;
 
}
